{% include 'admin/header.html' %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">

            <div class="card border-primary mb-3">
                <div class="card-header">
                    Tesis
                </div>
                <div class="card-body">

                    <form action="/admin/tesis/save" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                      <label for="txtTitulo">Titulo</label>  
                      <input type="txt" class="form-control" name="txtTitulo" id="txtTitulo" placeholder="Ingrese titulo">
                    </div>

                    <div class="form-group">
                      <label for="txtAutor">Autor</label>  
                      <input type="txt" class="form-control" name="txtAutor" id="txtAutor" placeholder="Autor">
                    </div>

                    <div class="form-group">
                      <label for="txtProfesor">Profesor Guia</label>  
                      <input type="txt" class="form-control" name="txtProfesor" id="txtProfesor" placeholder="Profesor Guia">
                    </div>

                    <div class="form-group">
                      <label for="txtAnio">Año</label>  
                      <input type="txt" class="form-control" name="txtAnio" id="txtAnio"  placeholder="Año de publicacion">
                    </div>

                    <div class="form-group">
                      <label for="pdfTesis" class="form-label" >Archivo de la tesis</label>  
                      <input type="file" class="form-control" name="pdfTesis" id="pdfTesis"  placeholder="Archivo de la tesis">
                    </div>

                    <button type="submit" class="btn btn-success">Agregar</button>

                </form>

                </div>
                <div class="card-footer text-muted">
                </div>
            </div>            
            
        </div>

        <div class="col-md">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>AUTOR</th>
                        <th>PROFESOR GUIA</th>
                        <th>AÑO</th>
                        <th>ARCHIVO</th>
                        <th>ACCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      {% for tesis in tesis %}
                        <td>{{ tesis[0] }}</td>
                        <td>{{ tesis[3] }}</td>
                        <td>{{ tesis[4] }}</td>
                        <td>{{ tesis[5] }}</td>
                        <td>{{ tesis[6] }}</td>
                        <td>

                          <a name="" id="" class="btn btn-primary" href="/files/{{ tesis[7] }}" role="button">Abrir</a>
                          <!-- <a href="/files/{{ tesis[7] }}">{{ tesis[7] }}</a> -->
                        </td>

                        <td>

                          <form action="/admin/tesis/delete" method="post">
                          <input value="{{ tesis[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                          </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% include 'admin/foot.html' %}