{% include 'site/header.html' %}

    <div class="container">
        <div class="row">
            <!-- Total de 12 -->
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">PDF</h4>
                        <!--Se dirige al sitio del pdf-->
                        <!--Guardando en un BD se descargaria ?-->
                        <a name="" id="" class="btn btn-primary" href="https://www.unap.cl/prontus_unap/site/docs/20140812/20140812183858/tesis.pdf" role="button">Descargar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Tiulo</h4>
                        <p class="card-text">Tesis 1</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Autor/es</h4>
                        <p class="card-text">Unapino 1</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">AÑO</h4>
                        <p class="card-text">2222</p>
                    </div>
                </div>
            </div>
        </div> 

    </div>

    <!-- Mostrar tesis.
    <div class="files">
        <iframe src="nada,pdf" width="500" height="300"></iframe>
    </div> -->

{% include 'site/foot.html' %}