{% include 'site/header.html' %}

    <div class="container">

        <div class="row">

            {% for tesis in tesis %}
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="https://indunor.cl/assets/img/logosues/logo_unap.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{tesis[3]}}</h4>
                        <a name="" id="" class="btn btn-primary" href="/files/{{ tesis[7] }}" role="button">Visualizar</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div> 


    </div>

{% include 'site/foot.html' %}